:root {
  --primary: #ff2c2c;
  --bg: #050505;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: url("https://images.unsplash.com/photo-1546519638-68e109498ffc")
    no-repeat center/cover;
  font-family: "Inter", sans-serif;
  color: white;
  min-height: 100vh; /*double check */
  display: flex;
  flex-direction: column;
}

/* Overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* Header */
header,
.hero,
footer {
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75 3%;
  flex-wrap: nowrap;
}

/* Navigation */
.nav-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-group ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-group a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  white-space: nowrap;
}

.nav-group.right {
  gap: 1rem;
  margin-right: 70px;
}

.nav-group.left {
  gap: 1rem;
  margin-left: 70px;
}

.search-bar {
  width: 8rem;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #333333;
  color: white;
  border-radius: 0.25rem;
}

.logo-container img {
  width: 7rem;
}

/* Hero */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  gap: 0.5rem;
}

.hero h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 1;
}

.hero h1 span {
  display: block;
  -webkit-text-stroke: 0.08rem white;
  color: transparent;
}

.hero p {
  margin: 1rem;
  max-width: 37rem;
  color: #cccccc;
}
/* Button */
.btn {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background: var(--primary);
  color: white;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 0.9rem;
  transition: 0.3s;
}

.btn:hover {
  background: white;
  color: black;
}

/* Footer */
footer {
  text-align: center;
  padding: 1.25rem;
  font-size: 0.75rem;
  color: #777777;
  background: rgba(0, 0, 0, 0.7);
}
